﻿@model TribalWebsite.Api.Dto.Page.ContactPage
<div class="row fluid np-sm no-fluid-cstm-1">
    <div class="col-12 np-sm">
        <div class="box overlayout ar-sm-4-3 ar-xlg-2-1 ar-16-6 no-margin">
            <div class="content">
                <div class="body">
                    <div class="map-wrapper">
                        <div class="map" data-map-maker="/assets/media/map-marker.png" data-zoom="16" data-lat="41.0313979" data-lng="28.9857418"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-border"></div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-m-4 col-sm-12">
        <div class="box">
            <h5>Adres</h5>
            <div class="sperator"></div>
            <p>@Html.Raw(Model.Contact.Address)</p>
        </div>
    </div>
    <div class="col-6 col-m-8 col-sm-12">
        <div class="box">
            <h5>E-Bülten</h5>
            <div class="sperator"></div>
            <p>@Html.Raw(Model.Contact.EJournal)</p>
            <div class="form-content">
                <div class="form-row">
                    <div class="form-item">
                        <input class="w-330 w-m-230" type="text" placeholder="E-posta adresiniz" />
                    </div>
                    <div class="form-item"><a class="button" href="javascript:;">SEND</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-m-4 col-sm-12">
        <h5>İletişim</h5>
        <div class="sperator"></div>
        <p>@Model.Contact.Email<br>Tel : @Model.Contact.Telephone<br>Fax : @Model.Contact.Fax</p>
    </div>
    <div class="col-6 col-m-8 col-sm-12">
        <div class="box">
            <h5>Share with us!</h5>
            <div class="sperator"></div>
            <p>@Html.Raw(Model.Contact.ShareWithUs)</p>
            <div class="social-links"><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a></div>
        </div>
    </div>
</div>

