﻿@model TribalWebsite.Api.Dto.WorkDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni İş</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "Work", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Müşteri</label>
                                @Html.DropDownList("ClientId", new SelectList(ViewBag.Clients, "Id", "Name"), "Seçiniz", new { @class = "form-control", name = "ClientId" })
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                @Html.DropDownList("CategoryId", new SelectList(ViewBag.Categories, "Id", "Name"), "Seçiniz", new { @class = "form-control", name = "CategoryId" })
                            </div>

                            <div class="form-group">
                                <label>Başlık</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Kısa Açıklama</label>
                                @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", rows = 10, cols = 20 })
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 10, cols = 20 })
                            </div>

                            <div class="form-group">
                                <label>Brief</label>
                                @Html.TextAreaFor(model => model.Brief, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>
                            <div class="form-group">
                                <label>Idea</label>
                                @Html.TextAreaFor(model => model.Idea, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>

                            <div class="form-group">
                                <label>Thumbnail Seçiniz</label>
                                <input type="file" id="thumbFile" name="thumbFile">
                            </div>

                            <div class="form-group">
                                <label>Geniş Görsel Seçiniz</label>
                                <input type="file" id="doubleImageFile" name="doubleImageFile">
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/Work" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
