﻿@model TribalWebsite.Api.Dto.WorkDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">İş Düzenleme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "Work", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.ThumbnailId)
                            @Html.HiddenFor(model => model.DoubleThumbnailId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)
                            @Html.HiddenFor(model => model.CreatedAt)
                            @Html.HiddenFor(model => model.IsDouble)

                            <div class="form-group">
                                <label>Müşteri</label>
                                @Html.DropDownListFor(model => model.ClientId, new SelectList(ViewBag.Clients, "Id", "Name"), new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Başlık</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Kısa Açıklama</label>
                                @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control", rows = 10, cols = 15 })
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 10, cols = 15 })
                            </div>

                            <div class="form-group">
                                <label>Breif</label>
                                @Html.TextAreaFor(model => model.Brief, new { @class = "form-control", rows = 10, cols = 15 })
                            </div>

                            <div class="form-group">
                                <label>Idea</label>
                                @Html.TextAreaFor(model => model.Idea, new { @class = "form-control", rows = 10, cols = 15 })
                            </div>


                            <div class="form-group">
                                <label>Thumbnail</label>
                                <img src="@Model.Thumbnail.FilePath" height="200" />
                                <hr />
                                <label>Yeni Thumbnail Seçiniz</label>
                                <input type="file" id="thumbFile" name="thumbFile">
                                <hr />
                            </div>

                            <div class="form-group">
                                <label>Geniş Görsel</label>
                                @if (Model.DoubleThumbnail != null)
                                {
                                    <img src="@Model.DoubleThumbnail.FilePath" height="200" />
                                    <hr />
                                    <label>Yeni Geniş Görsel Seçiniz</label>
                                }
                                <input type="file" id="doubleImageFile" name="doubleImageFile">
                                <hr />
                            </div>

                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                            <a href="/Admin/Work" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
