﻿@using Infrastructure.Data.Enums;
@model List<TribalWebsite.Api.Dto.WorkDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">İşler</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <a href="/Admin/Work/Create">+ Yeni İş Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tüm İşler
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleWork">
                    <thead>
                        <tr>
                            <th>Thumb</th>
                            <th>Başlık</th>
                            <th>Müşteri</th>
                            <th>Kategori</th>
                            <th>Kısa Açıklama</th>
                            <th>Sıra</th>
                            <th></th>
                            <th></th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var work in Model)
                        {
                            <tr>
                                <td><img src="@work.Thumbnail.FilePath" height="100"/></td>
                                <td>@work.Title</td>
                                <td>@work.Client.Name</td>
                                <td>@work.Category.Name</td>
                                <td>@work.ShortDescription</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Work", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@work.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@work.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/Work/Edit/@work.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td><a href="/Admin/Gallery/Index/@work.Id"><i class="fa fa-film fa-fw"></i> Galeri</a></td>
                                <td>
                                    <a href="/Admin/Work/State/@work.Id">
                                        @if (work.State == (int)State.Active)
                                        {
                                            <i class="fa fa-check fa-fw"></i> <span>Aktif</span>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close"></i> <span>Pasif</span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleWork').DataTable({
            responsive: true
        });
    });
</script>

