﻿@model List<TribalWebsite.Api.Dto.AwardDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ödüller</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <a href="/Admin/Awards/Create">+ Yeni Ödül Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tüm Ödüller
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleAward">
                    <thead>
                        <tr>
                            <th>Görsel</th>
                            <th>Ödül</th>
                            <th>Sıra</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var award in Model)
                        {
                            <tr>
                                <td><img src="@award.Media.FilePath" height="100"/></td>
                                <td>@award.Name</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Awards", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@award.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@award.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/AwardDetail/Index/@award.Id"><i class="fa fa-film fa-fw"></i> Detaylar</a></td>
                                <td><a href="/Admin/Awards/Edit/@award.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td><a href="/Admin/Awards/Delete/@award.Id"><i class="fa fa-times fa-fw"></i> Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function() {
        $('#dataTables-exampleAward').DataTable({
            responsive: true
        });
    });
</script>
