﻿@model TribalWebsite.Api.Dto.Page.AgencyPage

<div class="row fluid np-sm no-fluid-cstm-1">
    <div class="col-12 np-sm">
        <div class="box ar-sm-4-3 ar-xlg-2-1 ar-16-6 overlayout no-margin">
            <div class="content">
                <div class="body">
                    <div class="image border-layout-bottom"><img src="@Model.Agency.Media.FilePath" /></div>
                </div>
            </div>
        </div>
        <div class="layout-border"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="box highlighted">
            <h1>@Model.Agency.Content</h1>
        </div>
    </div>
    <div class="col-6 col-sm-12">
        <div class="box">
            <h5>Tarihimiz</h5>
            <div class="sperator"></div>
            <p>@Model.Agency.History</p>
        </div>
    </div>
    <div class="col-6 col-sm-12">
        <div class="box">
            <h5>Idea</h5>
            <div class="sperator"></div>
            <p>@Model.Agency.Idea</p>
        </div>
    </div>
    <div class="col-12">
        <div class="box">
            <h5>Team</h5>
            <div class="sperator"></div>
        </div>
    </div>

    @foreach (var item in Model.Team)
    {
        <div class="col-4 col-m-6 col-sm-12">
            <div class="box">
                <div class="image border-bottom"><img src="@item.Media.FilePath" /></div>
                <h5 class="more-margin">@item.Fullname<br><i>@item.Position</i></h5>
                <p>@item.Content</p>
            </div>
        </div>

    }
</div>

<div class="row">
    <div class="col-12">
        <div class="box">
            <h5>Clients</h5>
            <div class="sperator"></div>
        </div>
    </div>
</div>
<div class="row fluid no-fluid-cstm-2">
    <div class="col-12">
        <div class="grid-box">
            @foreach (var item in Model.Client)
            {
                <a href="javascript:;">
                    <div class="content"><img src="@item.Media.FilePath" /></div>
                </a>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="box">
            <h5>Ödüller</h5>
            <div class="sperator"></div>
        </div>
    </div>
</div>
<div class="row fluid no-fluid-cstm-2">
    <div class="col-12 col-sm-12">
        <div class="grid-box">
            @foreach (var item in Model.Award)
            {
                <a href="javascript:;">
                    <div class="content"><img src="@item.Media.FilePath" /></div>
                </a>

            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8 col-sm-12">
        <div class="box">
            <h5>Work with us</h5>
            <div class="sperator"></div>
            <p>We hire people that have a passion for creating great work and the talent to make it look easy. If you think that describes you, drop us a line.</p>
            <div class="form-content">
                <div class="form-row">
                    <div class="form-item"><a class="button" href="javascript:;">JOIN TRIBAL</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 col-sm-12">
        <div class="box">
            <h5>Pozisyonlar</h5>
            <div class="sperator"></div>
            <p>UX / UI Designer<br>Senior Art Director<br>Project Manager<br>Kamasutra</p>
        </div>
    </div>
</div>