﻿@model TribalWebsite.Api.Dto.ClientDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni Müşteri</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Müşteri İsmi</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Müşterinin ismini giriniz (İş Bankası, Polat Holding vs.)" })
                            </div>

                            <div class="form-group">
                                <label>Müşteri Logosu Seçiniz</label>
                                <input type="file" id="file" name="file">
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/Client" class="btn btn-default">Vazgeç</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

