﻿@model TribalWebsite.Api.Dto.ClientDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Müşteri Düzenleme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.MediaId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)
                            @Html.HiddenFor(model => model.CreatedAt)

                            <div class="form-group">
                                <label>Müşteri İsmi</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Müşteri Logosu</label>
                                <img src="@Model.Media.FilePath" height="100" />
                            </div>

                            <div class="form-group">
                                <label>Yeni Müşteri Logosu Seçiniz</label>
                                <input type="file" id="file" name="file">
                            </div>

                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                            <a href="/Admin/Client" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


