﻿@using Infrastructure.Data.Enums;
@model List<TribalWebsite.Api.Dto.ClientDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Müşteri</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <a href="/Admin/Client/Create">+ Yeni Müşteri Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tüm Müşteriler
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleClient">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Müşteri</th>
                            <th>Sıra</th>
                            <th></th>
                            <th>Durum</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td><img src="@client.Media.FilePath" height="100" /></td>
                                <td>@client.Name</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Client", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@client.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@client.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/Client/Edit/@client.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td>
                                    <a href="/Admin/Client/State/@client.Id">
                                        @if (client.State == (int)State.Active)
                                        {
                                            <i class="fa fa-check fa-fw"></i> <span>Aktif</span>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close"></i> <span>Pasif</span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleClient').DataTable({
            responsive: true
        });
    });
</script>
