﻿@model TribalWebsite.Api.Dto.CategoryDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni Kategori</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Kategori İsmi</label>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/Category" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

