﻿@using Infrastructure.Data.Enums;
@model List<TribalWebsite.Api.Dto.CategoryDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Kategoriler</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <a href="/Admin/Category/Create">+ Yeni Kategori Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tüm Kategoriler
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleCategory">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Sıra</th>
                            <th></th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Category", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@category.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@category.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/Category/Edit/@category.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td>
                                    <a href="/Admin/Category/State/@category.Id">
                                        @if (category.State == (int)State.Active)
                                        {
                                            <i class="fa fa-check fa-fw"></i> <span>Aktif</span>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close"></i> <span>Pasif</span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleCategory').DataTable({
            responsive: true
        });
    });
</script>
