﻿@model TribalWebsite.Api.Dto.AgencyDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ajans Düzenleme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "Agency", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.MediaId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)
                            @Html.HiddenFor(model => model.CreatedAt)

                            <div class="form-group">
                                <label>Resim</label>
                                <img src="@Model.Media.FilePath" height="100" />
                            </div>


                            <div class="form-group">
                                <label>Yeni Resim Ekle</label>
                                <input type="file" id="file" name="file">
                            </div>


                            <div class="form-group">
                                <label>Başlık</label>
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>

                            <div class="form-group">
                                <label>Tarihçe</label>
                                @Html.TextAreaFor(model => model.History, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>

                            <div class="form-group">
                                <label>Idea</label>
                                @Html.TextAreaFor(model => model.Idea, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>

                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                            <a href="/Admin/Agency" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



























