﻿@model TribalWebsite.Api.Dto.AgencyDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ajans</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ajans Bilgileri
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleAgency">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>Başlık</th>
                            <th>Tarihçe</th>
                            <th>Idea</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="@Model.Media.FilePath" height="100" /></td>
                            <td>@Model.Content</td>
                            <td>@Model.History</td>
                            <td>@Model.Idea</td>
                            <td><a href="/Admin/Agency/Edit/@Model.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleAgency').DataTable({
            responsive: true
        });
    });
</script>
