﻿<!doctype html>
<html>
<head>
    <title>Tribal World Wide</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/styles/app.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIsGGejaHJ_7QUuqvUuvleappd_kqpxZk"></script>
    <script src="~/assets/scripts/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-12">
                    <header>
                        <a class="logo" href="javascript:;"><span></span><span></span><span></span><span></span></a>
                        <div class="header-text">
                            <p><strong>Tribal İstanbul</strong> is a global design company.<br>Our purpose is to create positive impact through design.</p>
                            <div class="sperator"></div>
                        </div>
                        <div class="secondary-nav">
                            <nav>
                                <ul>
                                    <li><a class="search" href="javascript:;"></a></li>
                                    <li class="hide-on-mobile"><a href="javascript:;">ENG</a></li>
                                    <li class="show-on-middle"><a class="nav" href="javascript:;"></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-nav">
                            <div class="main-nav-wrapper">
                                <div class="main-nav-inner">
                                    <div class="main-nav-content">
                                        <a class="main-mobile-nav-close show-on-middle" href="javascript:;"></a>
                                        <nav>
                                            <ul>
                                                <li class="language show-on-mobile"><a href="javascript:;">ENG</a></li>
                                                <li><a href="javascript:;">AGENCY</a></li>
                                                <li><a href="javascript:;">SUCCESS STORY</a></li>
                                                <li><a href="javascript:;">WORKS</a></li>
                                                <li><a href="javascript:;">CONTACT</a></li>
                                            </ul>
                                        </nav>
                                        <div class="nav-links">
                                            <div class="row">
                                                <div class="col-4 col-sm-12">
                                                    <div class="box">
                                                        <h5>Contact with us!</h5>
                                                        <div class="sperator white wide"></div>
                                                        <p class="small-x2">For new business requests please call us. We are the best of the best.</p>
                                                        <div class="form-row">
                                                            <div class="form-item"><a class="button white" href="javascript:;">CONTACT</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-12">
                                                    <div class="box">
                                                        <h5>Come work with us!</h5>
                                                        <div class="sperator white wide"></div>
                                                        <p class="small-x2">We are always looking for great talent to join our global teams.</p>
                                                        <div class="form-row">
                                                            <div class="form-item"><a class="button white" href="javascript:;">JOIN TRIBAL</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-12">
                                                    <div class="box">
                                                        <h5>Share with us!</h5>
                                                        <div class="sperator white wide"></div>
                                                        <p class="small-x2">Folow us with our social media channels. See how we enjoy our lives! Fun Fun Fun</p>
                                                        <div class="social-links white"><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
        <div class="footer-wrapper">
            <footer>
                <div class="row">
                    <div class="col-4 col-sm-12">
                        <div class="box">
                            <h5>Contact with us!</h5>
                            <div class="sperator"></div>
                            <p class="small-x2">For new business requests please call us. We are the best of the best.</p>
                            <div class="form-row">
                                <div class="form-item"><a class="button" href="javascript:;">CONTACT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12">
                        <div class="box">
                            <h5>Come work with us!</h5>
                            <div class="sperator"></div>
                            <p class="small-x2">We are always looking for great talent to join our global teams.</p>
                            <div class="form-row">
                                <div class="form-item"><a class="button" href="javascript:;">JOIN TRIBAL</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-12">
                        <div class="box">
                            <h5>Share with us!</h5>
                            <div class="sperator"></div>
                            <p class="small-x2">Folow us with our social media channels. See how we enjoy our lives! Fun Fun Fun</p>
                            <div class="social-links"><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a><a href="javascript:;"></a></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box">
                            <p class="small-x2 ta-xlg-center">© 2017 Tribalistanbul</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
</body>
</html>
