﻿@using Infrastructure.Data.Enums
@using Infrastructure.Data.Helpers

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="~/Admin/Dashboard/Index">Tribal</a>
    </div>
    <div class="navbar-text">
        @if (LanguageHelper.CurrentLanguage == (int)Languages.Tr)
        {
            <span>
                Dikkat! Şu anda TÜRKÇE içerik giriyorsunuz. (Resimler en boy oranında otomatik boyutlandırılır. Bütün yüklenecek resimlerin 1600x900 olmasına dikkat edin.)
            </span>
        }
        else
        {
            <span>
                Dikkat! Şu anda İNGİLİZCE içerik giriyorsunuz. (Resimler en boy oranında otomatik boyutlandırılır. Bütün yüklenecek resimlerin 1600x900 olmasına dikkat edin.)
            </span>
        }

    </div>

    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        @if (Session["EnglishContent"] != null && Session["EnglishContent"].ToString() == "ON")
        {
            <li class="extra-margin"><a href="/Admin/Auth/EnglishContent/0">İngilizceyi Kapat</a></li>
        }
        else
        {
            <li class="extra-margin"><a href="/Admin/Auth/EnglishContent/1">İngilizceyi Aç</a></li>
        }

        @if (LanguageHelper.CurrentLanguage == (int)Languages.Tr)
        {
            <li class="extra-margin"><a href="/Admin/Dashboard/SetLanguage/2">EN</a></li>
        }
        else
        {
            <li class="extra-margin"><a href="/Admin/Dashboard/SetLanguage/1">TR</a></li>
        }

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="~/Admin/Auth/Logout"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="~/Admin/Dashboard/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="~/Admin/Story/Index"><i class="fa fa-star fa-fw"></i> Success Stories</a>
                </li>
                <li>
                    <a href="~/Admin/Client/Index"><i class="fa fa-group fa-fw"></i> Müşteriler</a>
                </li>
                <li>
                    <a href="~/Admin/Category/Index"><i class="fa fa-reorder fa-fw"></i> Kategoriler</a>
                </li>
                <li>
                    <a href="~/Admin/Work/Index"><i class="fa fa-suitcase fa-fw"></i> İşler</a>
                </li>
                <li>
                    <a href="~/Admin/News/Index"><i class="fa fa-newspaper-o fa-fw"></i> Haberler</a>
                </li>
                <li>
                    <a href="~/Admin/Twitter/Index"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                </li>
                <li>
                    <a href="~/Admin/Timeline/Index"><i class="fa fa-pie-chart fa-fw"></i> Timeline</a>
                </li>
                <li>
                    <a href="~/Admin/Awards/Index"><i class="fa fa-bullseye fa-fw"></i> Ödüller</a>
                </li>
                <li>
                    <a href="~/Admin/Team/Index"><i class="fa fa-tint fa-fw"></i> Takım</a>
                </li>
                <li>
                    <a href="~/Admin/SocialMedia/Index"><i class="fa fa-share-alt fa-fw"></i> Sosyal Medya Hesapları</a>
                </li>
                <li>
                    <a href="~/Admin/Agency/Index"><i class="fa fa-bank fa-fw"></i> Şirket Bilgileri</a>
                </li>
                <li>
                    <a href="~/Admin/ContactInfo/Index"><i class="fa fa-phone fa-fw"></i> İletişim Bilgileri</a>
                </li>
                <li>
                    <a href="~/Admin/ContactMails/Index"><i class="fa fa-envelope fa-fw"></i> Mesajlar</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>


