﻿@model TribalWebsite.Api.Dto.TeamDto


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni Takım Üyesi</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            <div class="form-group">
                                <label>Resim</label>
                                <input type="file" id="file" name="file">
                            </div>

                            <div class="form-group">
                                <label>İsim</label>
                                @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Pozisyon</label>
                                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Özgeçmiş</label>
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = 20, cols = 20 })
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/Team" class="btn btn-default">Vazgeç</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>