﻿@model TribalWebsite.Api.Dto.TeamDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Takım Üyesi Silme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Delete", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Fullname)
                            @Html.HiddenFor(model => model.MediaId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)

                            <div class="form-group">
                                <label>Takım Üyesi İsmi : </label>
                                @Model.Fullname
                            </div>

                            <div class="form-group">
                                <label>Takım Üyesi Resmi : </label>
                                <img src="@Model.Media.FilePath" height="100" />
                            </div>

                            <div class="alert alert-danger">
                                Dikkat! bu üyeye bağlı görseller de silinecektir.<br />Takım üyesini silmek istediğinize emin misiniz?.
                            </div>

                            <input type="submit" class="btn btn-primary" value="Sil" />
                            <a href="/Admin/Team" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
