﻿@model List<TribalWebsite.Api.Dto.TeamDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Takım</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <a href="/Admin/Team/Create">+ Yeni Takım Üyesi Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Takım Üyeleri
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleTeam">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>İsim</th>
                            <th>Posizyon</th>
                            <th>Özgeçmiş</th>
                            <th>Sıra</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model)
                        {
                            <tr>
                                <td><img src="@team.Media.FilePath" height="100" /></td>
                                <td>@team.Fullname</td>
                                <td>@team.Position</td>
                                <td>@team.Content</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Team", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@team.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@team.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/Team/Edit/@team.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td><a href="/Admin/Team/Delete/@team.Id"><i class="fa fa-times fa-fw"></i> Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleTeam').DataTable({
            responsive: true
        });
    });
</script>
