﻿@model TribalWebsite.Api.Dto.StoryDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni İş</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "Story", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Başlık</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Kısa Açıklama</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 10, cols = 20 })
                            </div>

                            <div class="form-group">
                                <label>Medya Tipi</label>
                                <select id="mediaType" class="form-control" name="Type">
                                    <option value="0">Seçiniz</option>
                                </select>
                            </div>

                            <div class="form-group" id="file">
                                <label>Görsel Seçiniz</label>
                                <input type="file" name="file">
                            </div>

                            <div class="form-group" id="embededCode">
                                <label>Embeded Code</label>
                                <input type="text" class="form-control" name="url" placeholder="Video embed codeunu giriniz." />
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/Story" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#file").hide();
        $("#embededCode").hide();

         var url = "@Url.Action("GetMediaType", "Story")";

         $.getJSON(url, function (data) {
             var options = "";

             $.each(data, function (a, b) {
                 options += "<option value='" + b.Value + "'>" + b.Text + "</option>";
             });

             $("#mediaType").append(options);
         });

         $("#mediaType").on("change", function () {
             var type = $(this).val();

             if (type === "1") {
                 $("#file").show();
                 $("#embededCode").hide();
             } else if (type === "2") {
                 $("#file").hide();
                 $("#embededCode").show();
             }
             else {
                 $("#file").hide();
                 $("#embededCode").hide();
             }

         });

    });
</script>
