﻿@using Infrastructure.Data.Enums;
@model List<TribalWebsite.Api.Dto.StoryDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Success Stories</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <a href="/Admin/Story/Create">+ Yeni Story Ekle</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                Success Stories
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-exampleStory">
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Sıra</th>
                            <th></th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var story in Model)
                        {
                            <tr>
                                <td>@story.Title</td>
                                <td>@story.Description</td>
                                <td>
                                    @using (Html.BeginForm("SetOrder", "Story", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="@story.Id" />
                                            <input style="width:40px" type="text" class="form-control" name="order" value="@story.Order" />
                                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                                        </div>
                                    }
                                </td>
                                <td><a href="/Admin/Story/Edit/@story.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                <td>
                                    <a href="/Admin/Story/State/@story.Id">
                                        @if (story.State == (int)State.Active)
                                        {
                                            <i class="fa fa-check fa-fw"></i> <span>Aktif</span>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close"></i> <span>Pasif</span>
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#dataTables-exampleStory').DataTable({
            responsive: true
        });
    });
</script>


