﻿@model TribalWebsite.Api.Dto.AwardDetailDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Yeni Ödül Detayı</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Create", "AwardDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Ödül</label>
                                @Html.DropDownList("AwardId", new SelectList(ViewBag.Awards, "Id", "Name"), "Seçiniz", new { @class = "form-control", name = "ClientId" })
                            </div>

                            <div class="form-group">
                                <label>İş</label>
                                @Html.DropDownList("WorkId", new SelectList(ViewBag.Works, "Id", "Title"), "Seçiniz", new { @class = "form-control", name = "WorkId" })
                            </div>
                        
                            <div class="form-group">
                                <label>Yıl</label>
                                @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Derece</label>
                                @Html.TextBoxFor(model => model.Prize, new { @class = "form-control" })
                            </div>

                            <input type="submit" class="btn btn-primary" value="Ekle" />
                            <a href="/Admin/AwardDetail" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
