﻿@model TribalWebsite.Api.Dto.AwardDetailDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ödül Silme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Delete", "AwardDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Year)
                            @Html.HiddenFor(model => model.Category)
                            @Html.HiddenFor(model => model.WorkId)
                            @Html.HiddenFor(model => model.Prize)
                            @Html.HiddenFor(model => model.AwardId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)

                            <div class="form-group">
                                <label>Yıl : </label>
                                @Model.Year
                            </div>

                            <div class="form-group">
                                <label>Kategori : </label>
                                @Model.Category
                            </div>

                            <div class="form-group">
                                <label>Derece : </label>
                                @Model.Prize
                            </div>

                            <div class="alert alert-danger">
                                Dikkat! bu ödül silinecektir.
                            </div>

                            <input type="submit" class="btn btn-primary" value="Sil" />
                            <a href="/Admin/AwardDetail/@Model.AwardId" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
