﻿@model TribalWebsite.Api.Dto.AwardDetailDto

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ödül Detayı Düzenleme</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "AwardDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.AwardId)
                            @Html.HiddenFor(model => model.WorkId)
                            @Html.HiddenFor(model => model.Order)
                            @Html.HiddenFor(model => model.State)
                            @Html.HiddenFor(model => model.LanguageId)
                            @Html.HiddenFor(model => model.CreatedAt)

                            <div class="form-group">
                                <label>Yıl</label>
                                @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Derece</label>
                                @Html.TextBoxFor(model => model.Prize, new { @class = "form-control" })
                            </div>

                            <input type="submit" class="btn btn-primary" value="Değiştir" />
                            <a href="/Admin/AwardDetail" class="btn btn-default">Vazgeç</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>