﻿@model List<TribalWebsite.Api.Dto.AwardDetailDto>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ödül Detayları</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <a href="/Admin/AwardDetail/Create">+ Yeni Ödül Detay Ekle</a>
        @if (!(Model == null || Model.Count == 0))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tüm Ödül Detayları
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-exampleAwardDetail">
                        <thead>
                            <tr>
                                <th>Yıl</th>
                                <th>Kategori</th>
                                <th>Başarı</th>
                                <th>İş</th>
                                <th>Ödül</th>
                                <th>Sıra</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var awardDetail in Model)
                            {
                                <tr>
                                    <td>@awardDetail.Year</td>
                                    <td>@awardDetail.Category</td>
                                    <td>@awardDetail.Prize</td>
                                    <td>@awardDetail.Work.Title</td>
                                    <td>@awardDetail.Award.Name</td>
                                    <td>
                                        @using (Html.BeginForm("SetOrder", "Awards", FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                <input type="hidden" name="id" value="@awardDetail.Id" />
                                                <input style="width:40px" type="text" class="form-control" name="order" value="@awardDetail.Order" />
                                                <input type="submit" class="btn btn-primary" value="Değiştir" />
                                            </div>
                                        }
                                    </td>
                                    <td><a href="/Admin/AwardDetail/Edit/@awardDetail.Id"><i class="fa fa-edit fa-fw"></i> Düzenle</a></td>
                                    <td><a href="/Admin/AwardDetail/Delete/@awardDetail.Id"><i class="fa fa-times fa-fw"></i> Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        }
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function() {
        $('#dataTables-exampleAwardDetail').DataTable({
            responsive: true
        });
    });
</script>
